@model MvcAtm.Models.ErrorModel
@{
    ViewBag.Title = "ErrorView";
}

<h2>Error View</h2>
@Html.DisplayTextFor(x => x.ErrorText)
@{
    using (Html.BeginForm(Model.PreviousAction, "Home"))
    {
        <input type="submit" class="btn btn-default" value="Back" />
    }
}


