@model MvcAtm.Models.WithdrawalModel
@{
    ViewBag.Title = "WithdrawalView";
}
<h2>WithdrawalView</h2>
@{
    using (Html.BeginForm("WithdrawMoney", "Home"))
    {
        @Html.TextBoxFor(m => m.WithdrawalAmmount)
        <input type="submit" class="btn btn-default" value="Withdraw" />
    }
    using (Html.BeginForm("GetOperations", "Home"))
    {
        <input type="submit" class="btn btn-default" value="Exit" />
    }
}


